

body {
    background-color: lightblue;
}
td.capitalize {
    text-transform: capitalize;
}
a{
    color:blue;
}
h1{
    color:white;
    text-align: center;
    font-size: x-large;
}
input {
    width: 100%;
}
input[type=tel],select{
    width: 50%;
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text ], select {
    width: 50%;
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password ], select {
    width: 50%;
    padding: 4px 4px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 8px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 10px 10px 5px black;

}

button[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: black;
}